@import 'mastodon/mixins';
@import 'mastodon/variables';
@import 'fonts/roboto';
@import 'fonts/roboto-mono';
@import 'fonts/montserrat';

@import 'mastodon/reset';
@import 'mastodon/basics';
@import 'mastodon/containers';
@import 'mastodon/lists';
@import 'mastodon/footer';
@import 'mastodon/compact_header';
@import 'mastodon/widgets';
@import 'mastodon/forms';
@import 'mastodon/accounts';
@import 'mastodon/statuses';
@import 'mastodon/boost';
@import 'mastodon/components';
@import 'mastodon/polls';
@import 'mastodon/introduction';
@import 'mastodon/modal';
@import 'mastodon/emoji_picker';
@import 'mastodon/about';
@import 'mastodon/tables';
@import 'mastodon/admin';
@import 'mastodon/dashboard';
@import 'mastodon/rtl';
@import 'mastodon/accessibility';

.column .getting-started__trends .trends__item:nth-child(2),
.column .getting-started__trends .trends__item:nth-child(3),
.column .getting-started__trends .trends__item:last-child {
  background: lighten($ui-base-color, 8%);
}

.column .getting-started__trends h4 {
  background: $ui-base-color;
  color: $dark-text-color;
  padding: 0 20px 8px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: default;
  border-bottom: 0;
  // border-bottom: 1px solid #393f4f;
}